nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded
    .container-fluid
        a.navbar-brand(href="/") Ecomerce
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation") 
            span.navbar-toggler-icon

        .collapse.navbar-collapse#navbar-top
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(aria-current="page" href="#") Home
                //- li.nav-item
                //-     a.nav-link.active(href="#") Link

            a.btn.btn-outline-success.nab-btn(href="/login") Login

            a.btn.btn-outline-primary.nab-btn(href="/") Signup