extends base

block content
    .container
        .col.text-center
            .card.mb-4.rounded-3.shadow-sm
                .card-header.py-3
                    h4.my-0.fw-normal Apple iPhone 11 (64GB) - Black
                    img.phone(src="/img/iphone11.png" alt="Apple iPhone 11 (64GB) - Black")

                .card-body
                    h1.card-title.pricing-card-title $499
                        small.text-muted.fw-light Price: 


                    ul.list-unstyled.mt-3.mb-4.left-text-align
                        li * 6.1-inch (15.5 cm diagonal) Liquid Retina HD LCD display
                        li * Water and dust resistant (2 meters for up to 30 minutes, IP68)
                        li * Dual-camera system with 12MP Ultra Wide and Wide cameras; Night mode, Portrait mode, and 4K video up to 60fps
                        li * 12MP TrueDepth front camera with Portrait mode, 4K video, and Slo-Mo
                        li * Face ID for secure authentication
                        li * A13 Bionic chip with third-generation Neural Engine
                        li * Fast-charge capable
                        li * Wireless charging
                    button#buy-item.btn.btn-lg.btn-outline-primary.buy-btn Buy Now
